{% extends 'volunnet/base.html' %}
{% load staticfiles %}

{% block content %}
    {% if form.errors %}
    <br />
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br />
    <br />
    <form method="post" action="{% url 'volunnet:user_login' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="login"/>
        <button onclick=location.href="{% url "password_reset" %}" type="button">Forgot Password</button></button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}
